header {
    background-color: #54BAB9;
    padding: 20px 0;
}

#lp{
    text-align: lefts;
}

.caja {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

nav { 
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#logop{
    width: 140px;
    height: 140 px;
}

p{
    text-align: center;
    font-size: 22px;
    margin: 30px 130px;    
}
body {
    background-color:#E9DAC1;
}

.principal{
    padding: 22px;
}
#banner{
    width: 100%;
    height: 300px;
}

#titulo-principal{
    font-size: 50px;
    text-align: center;
}

#presentation{
    font-size: 22px;
}

#price{
    font-size: 22px;
}

#product{
    font-size: 22px;
}

#distribution{
    font-size: 24px;
}

#price{
    font-size: 24px;
}

h2{
    text-align: center;
}

#imagen{
    border: 40px 40px;
    width: 180px;
    height: 180px;
}

#imagen1{
    border: 40px 40px;
    width: 180px;
    height: 180px;
}

footer{
    text-align: center;
    padding: 40px;
} 

#logo{
    text-align: center;
    width: 140px;
    height: 140px;
    border-style: solid;
    border-width: 2px;
    border-color: #54BAB9;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px;
}

